@charset "UTF-8";
body{
    background-color: #fff0df;
}
main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    width: auto;
    background-color: #f8fafd;
    margin-left: 5em;
    margin-right: 5em;
    padding: 1.25em;
    box-shadow: 0.6em 0.6em 0.6em #f0c9b3;
}
div#menu{
    background-color: #f0c9b3;
    text-align: center;
    padding: 0.5em;
    float: right;
    margin: 0.32em;
    height: 1.25em;
    width: 5em;
}

h1{
    font-family: shrikhand;
    font-size: 1.6em;
    
   
}
h2{
    font-size:  1.6em;
}

footer#principal{
    background-color: #f8fafd;
    margin-top: 0.6em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 1.6em;
    float: top;
   
}